* {
  margin: 0px;
}
@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;600;800;900&display=swap);

body {
  background: #a895e8;
  font-family: "Roboto", sans-serif;

}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 100vh;
}

.fundo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}

.Task {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  font-size: 50px;
  color: #dbc4ff;
}

.input-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 66px;
  box-shadow: 10px 20px 5px #8e7ddc;
  width: 350px;
  height: 500px;
  background: #7465d0;
  border-radius: 20px;
  margin-left: 10px;
}

input {
  display: flex;
  width: 300px;
  height: 20px;
  text-align: center;
  margin: 2px;
  color: #dbc4ff;
  font-size: 20px;
  border: #dbc4ff 1px solid;
  background: none;
  outline: none;
  border-radius: 10px;
}

.date {
  display: flex;
  width: 135px;
  text-align: center;
  cursor: pointer;
}

textarea {
  resize: none;
  width: 300px;
  height: 100px;
  color: #dbc4ff;
  font-size: 20px;
  background: none;
  outline: none;
  text-align: center;
  border: #dbc4ff 1px solid;
  border-radius: 10px;
}

.label1 {
  color: #dbc4ff;
  margin: 0px;
  margin-right: 264px;
}

.label2 {
  color: #dbc4ff;
  margin: 0px;
  margin-right: 105px;
}

.label3 {
  color: #dbc4ff;
  margin: 0px;
  margin-right: 225px;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  width: 100px;
  height: 40px;
  border: #dbc4ff 1px solid;
  cursor: pointer;
  background: none;
  outline: none;
  color: #dbc4ff;
  font-size: 20px;
  transition: all 200ms ease;
  border-radius: 10px;
}

.btn:active {
  width: 50px;
  height: 20px;
}

.tasks {
  display: flex;
  flex-direction: column;
  background: none;
  width: 600px;
  height: 500px;
  overflow-y: auto;
  overflow-x: hidden;
}

.taskes {
  display: flex;
  align-items: center;
  background: #7465d0;
  box-shadow: 10px 20px 5px #8e7ddc;
  border-radius: 20px;
  width: 550px;
  height: 50px;
  margin: 5px;
  cursor: pointer;
  transition: all 200ms ease;
}

.p {
  color: #dbc4ff;
  font-size: 50px;
  margin-left: 10px;
}


.taskes:hover {
  height: 100px;
}

.excluir {
  width: 100px;
  height: 40px;
  border: #dbc4ff 1px solid;
  cursor: pointer;
  background: none;
  outline: none;
  color: #dbc4ff;
  font-size: 20px;
  transition: all 200ms ease;
  z-index: 1;
  border-radius: 10px;
}

.excluir:hover {
  background: rgb(209, 55, 55);
}

.tela {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  background: none;
  width: 100%;
  height: 97vh;
  overflow-y: auto;
  overflow-x: hidden;
  z-index: 2;
  backdrop-filter: blur(10px);
  position: absolute;
  cursor: pointer;

}

.alert{
  display: flex;
  color: red;
  font-size: 20px;
}

.tela2{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: none;
  width: 500px;
  height: 500px;
  z-index: 1;
  background: #7465d0;
  box-shadow: 10px 20px 5px #8e7ddc;
  border-top: #dbc4ff 1px solid;
  border-left: #dbc4ff 1px solid;
  border-radius: 20px;
  cursor : default;
}

.titulo, .data, .sobre{
  display: flex;
  align-items: center;
  justify-content: center;
  color: #dbc4ff;
  font-size: 20px;
  margin: 5px;
  border: #dbc4ff 1px solid;
  cursor: pointer;
  width: 300px;
  height: 40px;
  text-align: center;
}

.data{
  width: 160px;
  font-size: 30px;
}

.titulo{
  font-size: 30px;
}


@media (max-width:1920px) {
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100vh;
  }

  .input-container{
    margin-top: 90px;
  }
}

@media (max-width:1366px) {
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100vh;
  }
  .input-container{
    margin-top: 90px;
  }
}

@media (max-width:1200px) {
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    width: 100%;
    height: 100vh;
  }
  .input-container{
    margin-top: 90px;
    margin-left: 0px;
  }

}

@media (max-width:1600px) {
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100vh;
  }

  .input-container{
    margin-top: 90px;
  }
}

@media (max-width:680px) {
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100vh;
  }

  .p {
    color: #dbc4ff;
    font-size: 27px;
    margin-left: 10px;
  }

  .tasks{
    width: 400px;
    height: 500px;
  }

  .taskes{
    width: 350px;
  }

  .input-container{
    margin-top: 1000px;
  }
}

@media (max-width:1080px) {
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100vh;
  }
  .Task{
    margin-top: 10px;
  }

  .input-container{
    margin-top: 200px;
  }
}

.date::-webkit-inner-spin-button,
.date::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
}

input::placeholder{
  color: #dbc4ff;
}

textarea::placeholder{
  color: #dbc4ff;
}



.tasks::-webkit-scrollbar {
  width: 10px;
  background: #8e7ddc;
  border-radius: 20px;
}
.tasks::-webkit-scrollbar-thumb {
  background: #dbc4ff;
  border-radius: 20px;
}