* {
  margin: 0px;
}
@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;600;800;900&display=swap);

body {
  background: #4d4d4d;
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
  overflow-y: hidden;
}

.container {
  display: flex;
  width: 100%;
  height: 100vh;
}

.fundo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-left: 200px;
}

.Task {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  font-size: 50px;
  color: #8a8a8a;
}

.input-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 66px;
  margin-left: 10px;
  border: #8a8a8a 1px solid;
  width: 440px;
  height: 550px;
}

input {
  display: flex;
  width: 300px;
  height: 20px;
  text-align: center;
  margin: 2px;
  color: #8a8a8a;
  font-size: 20px;
  border: #8a8a8a 1px solid;
  background: none;
  outline: none;
}

.date {
  display: flex;
  width: 135px;
  text-align: center;
  cursor: pointer;
}

textarea {
  resize: none;
  width: 300px;
  height: 100px;
  color: #8a8a8a;
  font-size: 20px;
  background: none;
  outline: none;
  text-align: center;
}

.label1 {
  color: #8a8a8a;
  margin: 0px;
  margin-right: 264px;
}

.label2 {
  color: #8a8a8a;
  margin: 0px;
  margin-right: 105px;
}

.label3 {
  color: #8a8a8a;
  margin: 0px;
  margin-right: 225px;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  width: 100px;
  height: 40px;
  border: #8a8a8a 1px solid;
  cursor: pointer;
  background: none;
  outline: none;
  color: #8a8a8a;
  font-size: 20px;
  transition: all 200ms ease;
}

.btn:active {
  width: 50px;
  height: 20px;
}

.tasks {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  background: none;
  width: 600px;
  height: 500px;
  overflow-y: auto;
  overflow-x: hidden;
}

.taskes {
  display: flex;
  align-items: center;
  background: #8a8a8a;
  width: 550px;
  height: 50px;
  margin: 5px;
  cursor: pointer;
  transition: all 200ms ease;
}

.p {
  color: #4d4d4d;
  font-size: 50px;
  margin-left: 10px;
}

.taskes:hover {
  background: #bebdbd;
  width: 600px;
  height: 100px;
}

.excluir {
  width: 100px;
  height: 40px;
  border: #4d4d4d 1px solid;
  cursor: pointer;
  background: none;
  outline: none;
  color: #4d4d4d;
  font-size: 20px;
  transition: all 200ms ease;
  z-index: 1;
}

.tela {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  background: none;
  width: 100%;
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  z-index: 2;
  backdrop-filter: blur(10px);
  position: absolute;
  cursor: pointer;
}

.tela2{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: none;
  width: 500px;
  height: 500px;
  z-index: 1;
  background: #4d4d4d;
  border: #8a8a8a 1px solid;
  cursor : default;
}

.titulo, .data, .sobre{
  display: flex;
  align-items: center;
  justify-content: center;
  color: #8a8a8a;
  font-size: 20px;
  margin: 5px;
  border: #8a8a8a 1px solid;
  cursor: pointer;
  width: 300px;
  height: 40px;
  text-align: center;
}

.data{
  width: 160px;
  font-size: 30px;
}

.titulo{
  font-size: 30px;
}
